
{% extends "layout.html" %}
{% block content %}


    <!-- Main Content -->
      <div class="container">
  <div class="page-header">
    <h2 id="timeline", align="center">Salivary Samples Analysis Steps</h2>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Step 1</h4>
        </div>
        <div class="timeline-body">
          <p>FASTA Files</p>
          <p>FASTA files are blah blah blah </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Step 2</h4>
        </div>
        <div class="timeline-body">
          <p>FASTA files and blast<br>
            </p>
          <p>running on an HPC</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Step 3</h4>
        </div>
        <div class="timeline-body">
          <p>Taxonomy<br></p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Step 4</h4>
        </div>
        <div class="timeline-body">
          <p>Python visualization plot</p>
          <p>Blah</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Step 5</h4>
        </div>
        <div class="timeline-body">
          <p>Computational Biology: Met with advisor and lab staff to decide on which tools to use </p>
        </div>
      </div>
    </li>
       <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Step 6</h4>
        </div>
        <div class="timeline-body">
          <p>Outside Research: Trip to Vanderbilt's Biomedical Library <br>
            Blog Post: <a href="http://www.basised.com/tucson-north/senior-projects/vanderbilt-organizing-srp/" target="_blank">Vanderbilt and Organizing My SRP</a> </p>
          <p></p>
        </div>
      </div>
    </li>
      <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Step 7</h4>
        </div>
        <div class="timeline-body">
          <p>Computational Biology: Using Hurwitz lab tools to generate initial bubble plot <br>Blog Posts: <a href="http://www.basised.com/tucson-north/senior-projects/web-based-analyses-python-vs-r/" target="_blank">Web-Based Analyses, Py v. R</a> <a href="http://www.basised.com/tucson-north/senior-projects/bubble-plots-and-probiotics/" target="_blank">Bubble Plots and Probiotics</a></p>
        </div>
      </div>
    </li>
          <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 8</h4>
        </div>
        <div class="timeline-body">
          <p>Application Development: Created working web skeleton<br>
            Blog Post: <a href="http://www.basised.com/tucson-north/senior-projects/part-3-application-development-sneak-peak/" target="_blank">Application Development Sneak Peak</a> </p>
          <p></p>
        </div>
      </div>
    </li>
    <br>
    <br>
    <br>
<div class='embed-responsive embed-responsive-16by9'>
 <iframe class='embed-responsive-item' src="http://127.0.0.1:5000/dash" allowfullscreen ></iframe>
</div>


    </div>

    <hr>
{% endblock %}