{% extends "layout.html" %}
{% block content %}



    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>Abstract</h2>
          <p>In a healthy human, eukaryotic (human) cells are greatly outnumbered by microbial cells (viruses, bacteria). These trillions of non-human cells make up the human microbiome. While it is true that the flu, common cold, STDs, strep throat etc. can be traced back to viruses and bacteria, scientists have proposed that the microbial communities present on/in humans may play an important role in keeping humans healthy. However, it is still largely unknown what types of microbes are present and how they affect human health. Past studies on the human microbiome have garnered little information, in part, due to barriers in obtaining human microbiome samples that are free from human cell contaminates. Recent advancements in bioinformatics have generated new methods for decontaminating and analyzing microbiome data.</p>

          <p>My internship takes place at the University of Arizona’s Hurwitz Lab. The purpose of my project is to use cutting-edge analysis tools to revisit previously analyzed samples of the microbial communities present in the human mouth. I will be conducting cluster, functional, and taxonomic analyses on the oral microbiome, to determine if the research method advancements can shed more light on the function of the human microbiome.</p>

          <p>As more information about the human microbiome is discovered, doctors may be able to streamline their treatment techniques by working towards a “healthy” microbiome, rather than using antibiotics and antivirals that eradicate microbes and destabilize human microbial communities.</p>

          <h2> Research Question </h2>
          <p>How are environmental factors and Periodontal Disease related to the human oral microbiome?</p>

          <h2>Project Break Down</h2>
          <p>Part 1</p>

          <p>Part 2</p>

          <p>Part 3</p>

        </div>
      </div>
    </div>

    <hr>
  
  {% endblock %}

