{% extends "layout.html" %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
  <div class="page-header">
    <h1 id="timeline"></h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 1</h4>
        </div>
        <div class="timeline-body">
          <p>Outside Research: Read the journal articles:<br>A Roadmap to the Human Virome
            <br>Computational Prospecting the Great Viral Unknown<br>Uncovering Earth's Virome</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 2</h4>
        </div>
        <div class="timeline-body">
          <p>Application Development: Made a sample "Mia's Database" Flask app<br>
            Blog Post: <a href="http://www.basised.com/tucson-north/senior-projects/first-official-lab-work/" target="_blank">First Official Lab Work</a> </p>
          <p></p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 3</h4>
        </div>
        <div class="timeline-body">
          <p>Outside Research: Oral biofilm visualization at Krizman Dental<br>Blog Post: <a href="http://www.basised.com/tucson-north/senior-projects/dental-applications-research/" target="_blank">Dental Applications of My Research</a></p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 4</h4>
        </div>
        <div class="timeline-body">
          <p>Computational Biology: Meeting with advisor about biofilm and microbiome relationships <br>
            Blog Post: <a href="http://www.basised.com/tucson-north/senior-projects/oral-biofilm-visualization/" target="_blank">Oral Bioflim Visualization</a> </p>
          <p></p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 5</h4>
        </div>
        <div class="timeline-body">
          <p>Computational Biology: Met with advisor and lab staff to decide on which tools to use </p>
        </div>
      </div>
    </li>
       <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 6</h4>
        </div>
        <div class="timeline-body">
          <p>Outside Research: Trip to Vanderbilt's Biomedical Library <br>
            Blog Post: <a href="http://www.basised.com/tucson-north/senior-projects/vanderbilt-organizing-srp/" target="_blank">Vanderbilt and Organizing My SRP</a> </p>
          <p></p>
        </div>
      </div>
    </li>
      <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 7</h4>
        </div>
        <div class="timeline-body">
          <p>Computational Biology: Using Hurwitz lab tools to generate initial bubble plot <br>Blog Posts: <a href="http://www.basised.com/tucson-north/senior-projects/web-based-analyses-python-vs-r/" target="_blank">Web-Based Analyses Python v R,</a> <br><a href="http://www.basised.com/tucson-north/senior-projects/bubble-plots-and-probiotics/" target="_blank">Bubble Plots and Probiotics</a></p>
        </div>
      </div>
    </li>
          <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 8</h4>
        </div>
        <div class="timeline-body">
          <p>Application Development: Created working web skeleton<br>
            Blog Post: <a href="http://www.basised.com/tucson-north/senior-projects/part-3-application-development-sneak-peak/" target="_blank">Application Development Sneak Peak</a> </p>
          <p></p>
        </div>
      </div>
    </li>
     <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 9</h4>
        </div>
        <div class="timeline-body">
          <p>Computational Biology: Using Hurwitz lab tools to generate initial bubble plot <a href="http://www.basised.com/tucson-north/senior-projects/web-based-analyses-python-vs-r/" target="_blank">Web-Based Analyses, Py v. R</a> </p>
        </div>
      </div>
    </li>
          <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Week 10</h4>
        </div>
        <div class="timeline-body">
          <p>Application Development: Created working web skeleton<br>
            Blog Post: <a href="http://www.basised.com/tucson-north/senior-projects/part-3-application-development-sneak-peak/" target="_blank">Application Development Sneak Peak</a> </p>
          <p></p>
        </div>
      </div>
    </li>
    

  </ul>
</div>

{% endblock %}

